img{max-width: 100%;}
*,*::before,*::after{
    box-sizing: border-box;}
a{
	display: block;
	text-decoration: none;
}


.fz{
	&48{font-size: 48px;line-height: normal;}
	&32{font-size: 32px;line-height: normal;}
	&24{font-size: 24px;line-height: normal;}
	&20{font-size: 20px;line-height: normal;}
	&18{font-size: 18px;line-height: normal;}
	&16{font-size: 16px;line-height: normal;}
	&12{font-size: 12px;}
}

.color{
	&-green{color: #56C4C5;}
	&-black{color: #221E1F;;}
	&-gray{color:#747474}
	&-white{color:white}
	&-red{color:#FF5D50;}
}
.bgc{
	&-green{background-color: #56C4C5;}
	&-red{background-color: #FF5D50;}
	&-gray{background-color: #DDDDDD;}
}
.text{
	&ct{text-align: center;}
	&bl{font-weight: bold;}
}

.pad{
	&t8{padding-top: 8px;}
	&t10{padding-top: 10px;}
	&t16{padding-top: 16px;}
	&t24{padding-top: 24px;}
	&t48{padding-top: 48px;}

	&b24{padding-bottom: 24px;}
	&b16{padding-bottom: 16px;}
	&b32{padding-bottom: 32px;}

	&l8{padding-left: 8px;}
	&l16{padding-left: 16px;}
	&l32{padding-left: 32px;}
	&l42{padding-left: 42px;}
	&l55{padding-left: 55px;}

	&r8{padding-right: 8px;}
	&r16{padding-right: 16px;}
	&r42{padding-right: 42px;}
	&r55{padding-right: 55px;}
}

.mag{
	&t16{margin-top: 16px;}
	&t24{margin-top: 24px;}
	&t60{margin-top: 60px;}
	&b16{margin-bottom: 16px;}
	&b24{margin-bottom: 24px;}
	&b32{margin-bottom: 32px;}
	&b48{margin-bottom: 48px;}
	&b60{margin-bottom: 60px;}
	&b180{margin-bottom: 180px;}
	&0auto{margin: 0 auto}
}


.btn{
	display: block;
	width: 128px;
	height: 40px;
	line-height: 40px;
}

.btnPrice{
	display: block;
	width: 130px;
	height: 50px;
	border:1px solid #56C4C5;
	line-height: 50px;
	margin-right: 16px;
}

.radious{
	border-radius: 5px;
	&12{border-radius: 12px;}
	&20{border-radius: 20px;}
	&27{border-radius: 27px;}
	&-cir{border-radius: 50%;}
}	

.container {
	max-width: 1120px;
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;
  }

.topLogo{
	display: flex;
	justify-content:space-between;
	img{height: 40px;}	
}

.homefooter{
	height: 350px;
}