/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: 'Noto Sans TC', sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*css reset */
img {
  max-width: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

.fz48 {
  font-size: 48px;
  line-height: normal;
}

.fz32 {
  font-size: 32px;
  line-height: normal;
}

.fz24 {
  font-size: 24px;
  line-height: normal;
}

.fz20 {
  font-size: 20px;
  line-height: normal;
}

.fz18 {
  font-size: 18px;
  line-height: normal;
}

.fz16 {
  font-size: 16px;
  line-height: normal;
}

.fz12 {
  font-size: 12px;
}

.color-green {
  color: #56C4C5;
}

.color-black {
  color: #221E1F;
}

.color-gray {
  color: #747474;
}

.color-white {
  color: white;
}

.color-red {
  color: #FF5D50;
}

.bgc-green {
  background-color: #56C4C5;
}

.bgc-red {
  background-color: #FF5D50;
}

.bgc-gray {
  background-color: #DDDDDD;
}

.textct {
  text-align: center;
}

.textbl {
  font-weight: bold;
}

.padt8 {
  padding-top: 8px;
}

.padt10 {
  padding-top: 10px;
}

.padt16 {
  padding-top: 16px;
}

.padt24 {
  padding-top: 24px;
}

.padt48 {
  padding-top: 48px;
}

.padb24 {
  padding-bottom: 24px;
}

.padb16 {
  padding-bottom: 16px;
}

.padb32 {
  padding-bottom: 32px;
}

.padl8 {
  padding-left: 8px;
}

.padl16 {
  padding-left: 16px;
}

.padl32 {
  padding-left: 32px;
}

.padl42 {
  padding-left: 42px;
}

.padl55 {
  padding-left: 55px;
}

.padr8 {
  padding-right: 8px;
}

.padr16 {
  padding-right: 16px;
}

.padr42 {
  padding-right: 42px;
}

.padr55 {
  padding-right: 55px;
}

.magt16 {
  margin-top: 16px;
}

.magt24 {
  margin-top: 24px;
}

.magt60 {
  margin-top: 60px;
}

.magb16 {
  margin-bottom: 16px;
}

.magb24 {
  margin-bottom: 24px;
}

.magb32 {
  margin-bottom: 32px;
}

.magb48 {
  margin-bottom: 48px;
}

.magb60 {
  margin-bottom: 60px;
}

.magb180 {
  margin-bottom: 180px;
}

.mag0auto {
  margin: 0 auto;
}

.gotop a {
  width: 71px;
  height: 71px;
  line-height: 71px;
  position: fixed;
  bottom: 23px;
  right: 50px;
  z-index: 3;
}

.gotop a:hover {
  background: #80dddf;
}

.btn {
  display: block;
  width: 128px;
  height: 40px;
  line-height: 40px;
}

.btnPrice {
  display: block;
  width: 130px;
  height: 50px;
  border: 1px solid #56C4C5;
  line-height: 50px;
  margin-right: 16px;
}

.radious {
  border-radius: 5px;
}

.radious12 {
  border-radius: 12px;
}

.radious20 {
  border-radius: 20px;
}

.radious27 {
  border-radius: 27px;
}

.radious-cir {
  border-radius: 50%;
}

.shadow {
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.topLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topLogo img {
  height: 40px;
}

.a-bg-blue a:hover {
  background: #56C4C5;
}

.hryell {
  margin-top: 0px;
  height: 0px;
  border: 0px;
}

.indexBG {
  position: absolute;
  width: 860px;
  height: 786px;
  top: 0px;
  right: 0px;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home.svg);
  background-repeat: no-repeat;
  background-position: right top;
  z-index: -1;
}

.topLogo {
  position: relative;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 80px);
  position: relative;
}

.banner img {
  width: 50%;
}

.banner .bannerWord {
  width: 50%;
}

.hero_ball {
  position: absolute;
  top: calc(100vh - 180px);
  left: 0px;
  width: 138px;
  height: 360px;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball01.svg);
  background-position: right;
}

.platform {
  margin-bottom: 30px;
}

.platformContent {
  /*ul*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

.platformContent li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33.3333%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 56px;
  padding-right: 56px;
}

.platformContent li img {
  width: 90px;
}

.anyservice {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}

.serviceframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero_ball2 {
  position: absolute;
  right: 0px;
  top: 280px;
  width: 210px;
  height: 320px;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball02.svg);
  background-repeat: no-repeat;
  z-index: -1;
}

.serArea {
  width: 23.5%;
  background: white;
  overflow: hidden;
}

.quicknow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.quicknow .quicknowframe {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.quicknow .quicknowWord {
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quicknow .quicknowWord a:hover {
  background-color: #FF5D50;
}

.quicknowArea {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 48px;
  margin-bottom: 30px;
  margin-right: 38px;
}

.like {
  position: relative;
  margin-top: 70px;
}

.hero_ball3 {
  position: absolute;
  top: 48px;
  left: -85px;
  width: 150px;
  height: 155px;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball03.svg);
  background-repeat: no-repeat;
  z-index: -1;
}

.picin {
  width: 86px;
  height: 86px;
}

.picin img {
  width: 52px;
  height: 52px;
  margin-left: 18px;
  margin-top: 16px;
}

.likeflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.likearea {
  position: relative;
  width: 32.6%;
  padding: 48px 32px 25px 32px;
  margin-top: 104px;
  margin-bottom: 28px;
  background-color: white;
}

.user {
  width: 80px;
  position: absolute;
  top: -60px;
}

.rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
}

.cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nextPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.doc {
  width: 10px;
  height: 10px;
  margin-left: 8px;
  border-radius: 50px;
  margin-bottom: 100px;
}

.doc-Yell {
  width: 20px;
  background: #FFD153;
}

.homefooter {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/home_footer.svg");
  background-position: center top;
  background-repeat: repeat-x;
}

.homefooter h1 {
  padding-top: 260px;
  padding-bottom: 50px;
}

.homefooter a:hover {
  background-color: #FF5D50;
}

.copyright {
  margin-top: 80px;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (max-width: 375px) {
  .indexBG {
    top: 400px;
    left: 8px;
    width: 350px;
    height: 305px;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home_sm.svg);
    z-index: -1;
  }
  .container {
    max-width: calc(375px - 40px);
  }
  .fz48 {
    font-size: 32px;
    line-height: normal;
  }
  .fz32 {
    font-size: 24px;
    line-height: normal;
  }
  .fz24 {
    font-size: 20px;
    line-height: normal;
  }
  .fz20 {
    font-size: 18px;
    line-height: normal;
  }
  .fz18 {
    font-size: 16px;
    line-height: normal;
  }
  .fz16 {
    font-size: 14px;
    line-height: normal;
  }
  .topLogo img {
    height: 24px;
  }
  .topLogo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 16px;
  }
  .hryell {
    margin-top: 16px;
    height: 2px;
    border: 0px;
    background: #F5CA52;
  }
  .cellgotop {
    width: 375px;
    height: 75px;
    background: white;
    position: fixed;
    z-index: 2;
  }
  .banner {
    padding-top: 100px;
    margin-bottom: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: calc(100vh - 200px);
  }
  .banner img {
    width: 100%;
  }
  .banner .bannerWord {
    width: 100%;
    margin-bottom: 16px;
  }
  .hero_ball {
    top: calc(100vh + 80px);
    left: 0px;
    width: 49px;
    height: 126px;
    background-size: 126px;
  }
  .platform {
    padding-top: 190px;
  }
  .platform .platformContent {
    /*ul*/
  }
  .platform .platformContent li {
    padding-top: 24px;
    width: 100%;
    padding-left: 56px;
    padding-right: 56px;
  }
  .platform .platformContent li img {
    width: 50px;
  }
  .anyservice {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .serArea {
    width: 100%;
    margin-bottom: 24px;
    margin-right: 30px;
    margin-left: 30px;
  }
  .hero_ball2 {
    right: 0px;
    top: 1650px;
    width: 88px;
    height: 135px;
    background-size: 135px;
  }
  .quicknow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .quicknow .quicknowframe {
    width: 100%;
  }
  .quicknow .quicknowWord {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-left: 0px;
  }
  .quicknowArea {
    margin-top: 32px;
    width: 100%;
    padding-left: 30px;
    padding-bottom: 48px;
    margin-right: 53px;
    margin-left: 53px;
    margin-bottom: 0;
  }
  .likearea {
    width: 100%;
  }
  .hide {
    display: none;
  }
  .homefooter h1 {
    font-size: 24px;
  }
  .gotop a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    right: 16px;
    bottom: 16px;
  }
}

.PriceBG {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 860px;
  height: 786px;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/banner.svg);
  background-repeat: no-repeat;
  background-position: top right;
  z-index: -1;
}

.graybg {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 1350px;
  height: 470px;
  background-color: #F5F5F5;
  border-radius: 0 0 0 350px;
  z-index: -2;
}

.chose {
  margin-top: 20px;
}

.bannerPrice {
  height: 406px;
  margin-top: 90px;
  position: relative;
}

.heroballyellow {
  position: absolute;
  top: 900px;
  left: 0px;
  width: 94px;
  height: 360px;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball03.svg);
  background-position: right;
  background-size: 360px;
  z-index: -3;
}

.btnlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 54px;
}

.btnlist a:hover {
  background: #56C4C5;
  color: white;
}

.version {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.versionBk {
  width: 48%;
  margin-right: 21px;
  background-color: white;
}

.graybox {
  width: 45%;
  height: 108px;
  background-color: #F5F5F5;
  padding-top: 24px;
}

.equal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 29px;
  padding-right: 29px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.equframe {
  overflow: hidden;
}

.equframe p {
  font-size: 16px;
}

.equframe h2 {
  font-size: 28px;
  padding-top: 8px;
}

.equframe span {
  padding-left: 8px;
  font-size: 16px;
}

.checkliskFrame {
  padding-left: 29px;
}

.checklist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btnbuy {
  display: block;
  width: 128px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 32px;
  margin-right: auto;
  margin-left: auto;
}

.btnbuy a:hover {
  background: #FF5D50;
}

.question {
  margin-top: 100px;
}

.qabl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  padding: 16px 32px 16px 32px;
  margin-bottom: 16px;
}

.showqa {
  width: 95%;
  padding-left: 32px;
  padding-right: 32px;
}

.qabl2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright {
  margin-top: 80px;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (max-width: 375px) {
  .PriceBG {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 375px;
    height: 495px;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/banner_sm.svg);
    background-repeat: no-repeat;
    z-index: -1;
  }
  .graybg {
    position: absolute;
    top: 30px;
    right: 0px;
    width: 375px;
    height: 450px;
    background-color: #F5F5F5;
    border-radius: 0 0 0 150px;
    z-index: -2;
  }
  .container {
    max-width: calc(375px - 40px);
    padding-left: 8px;
    padding-right: 8px;
  }
  .fz48 {
    font-size: 32px;
    line-height: normal;
  }
  .fz32 {
    font-size: 28px;
    line-height: normal;
  }
  .fz24 {
    font-size: 20px;
    line-height: normal;
  }
  .fz20 {
    font-size: 18px;
    line-height: normal;
  }
  .fz18 {
    font-size: 16px;
    line-height: normal;
  }
  .fz16 {
    font-size: 14px;
    line-height: normal;
  }
  .topLogo img {
    height: 24px;
  }
  .topLogo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 16px;
  }
  .cellgotop {
    width: 375px;
    height: 75px;
    top: 0;
    background: white;
    position: fixed;
    z-index: 2;
  }
  .btnPrice {
    line-height: 50px;
  }
  .versionBk {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 24px;
  }
  .heroballyellow {
    position: absolute;
    top: 1350px;
    left: 0px;
    width: 94px;
    height: 156px;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball03.svg);
    background-position: right;
    background-size: 156px;
    background-repeat: no-repeat;
    z-index: -3;
  }
  .checkliskFrame {
    padding-left: 8px;
  }
  .equframe p {
    font-size: 12px;
  }
  .equframe h2 {
    font-size: 24px;
    padding-top: 12px;
  }
  .equframe span {
    padding-left: 6px;
    font-size: 14px;
  }
  .btnbuy {
    line-height: 50px;
  }
  .question {
    margin-top: 60px;
  }
  .question p {
    line-height: 20px;
  }
  .qabl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 16px 8px 16px 8px;
    margin-bottom: 16px;
  }
  .showqa {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }
  .showqa p {
    line-height: 2em;
  }
}
/*# sourceMappingURL=all.css.map */